/* .pokemon_list {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
} */

.add-space-between-words {
    letter-spacing: 10px; /* Adjust the value to increase or decrease the space */
  }